<div class="about block">
	<h1 class="visually-hidden">Детективное агентство «Розыск» Улан-Удэ</h1>
	<p>Имея многолетний опыт работы в сфере детективных услуг, агентство «Розыск» успешно действует в Улан‑Удэ, республике
		Бурятия и по всей России. Мы берёмся за самые разные задачи — от поиска пропавших лиц и утерянного имущества
		до проведения корпоративной разведки. Наши специалисты с юридическим образованием и оперативным опытом из органов
		правопорядка имеют узкую профподготовку и солидный практический стаж. Благодаря обширной информационно ‑ технической
		базе мы решаем любые задачи строго в рамках закона «О частной детективной и охранной деятельности», гарантируя
		абсолютную конфиденциальность.</p>
</div>