<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Детективное агентство "Розыск" Улан-Удэ | ИП Азаревич В. В.</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body class="body">

	<header class="header">
		<div class="container header__container">
			<div class="header__logo">
				<a class="header__logo-link" href="#"><img src="../images/rozisk-logo-header.png" alt="Logo"></a>
			</div>

			<div class="header__contacts">
				<span class="contacts__phone">+7 (902) 562-66-38</span>
				<span class="contacts__adress">Улан-Удэ, Гостеприимная, 1А</span>
			</div>
		</div>
	</header>